@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{

}

#container {
  width: 750px;
  margin: 50px auto;
  display: block;

}

.grid{
  background: white;
  width:750px;
  height: 750px;
  border: 1px solid black;
  /*opacity: .7;*/
}

.cell {
  display:inline-block;
  float:left;
  border: 1px solid #F5F5F5;
  height: 23px;
  width: 23px;
}

.snake {
  height: 100%;
  width: 100%;
    background: darkgreen;

}

.food {
  height: 100%;
  width: 100%;
  background: red;
}

.score {
  text-align: center;
  font-size: 36px;
  margin-top: 25px;
  display:inline-block;
  position:relative;
  left: 320px;
  font-family: 'Open Sans';
}
