#container {
  width: 750px;
  margin: 50px auto;
  display: block;
}

.grid{
  width:750px;
  height: 750px;
  border: 1px solid black;
}

.cell {
  display:inline-block;
  float:left;
  border: 1px solid grey;
  height: 23px;
  width: 23px;
}

.snake {
  height: 100%;
  width: 100%;
  background: red;
}

.food {
  height: 100%;
  width: 100%;
  background: green;}
